.nuxt
.yalc
yalc.lock

/public/_nuxt
/public/avatars/*
!/public/avatars/forAdminSeed

Procfile

deploy.sh
/docs

/public/hot
/public/storage
/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
